.card {
  float: left;
  border: solid 1px black;
  width: 100px;
  border-radius: 5px;
  height: 140px;
  margin-right: 20px;
  animation: fadeIn 1s ease 0s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.covered {
  background-color: black;
}

.hand {
  overflow: auto;
}

.is-shown {
  display: block;
}

.is-hidden {
  display: none;
}
